<footer class="footer">
    <div class="footer-section">
        <h4>Buff Profit</h4>
        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="/Mapa_del_sitio">Mapa del sitio</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h4>Tournaments</h4>
        <ul>
            <li><a href="#">Cash Matches</a></li>
            <li><a href="#">Leaderboards</a></li>
            <li><a href="#">Tournament Rules</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h4>Community</h4>
        <ul>
            <li><a href="#">Forums</a></li>
            <li><a href="#">Discord</a></li>
            <li><a href="#">Support</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h4>Connect With Us</h4>
        <div class="social-icons">
            <a href="https://twitter.com/tu_usuario" target="_blank">Tw</a>
            <a href="https://facebook.com/tu_pagina" target="_blank">Fb</a>
            <a href="https://instagram.com/tu_usuario" target="_blank">Ig</a>
            <a href="https://youtube.com/c/tu_canal" target="_blank">Yt</a>
        </div>
    </div>
</footer>
<div class="footer-bottom">
    © 2024 Buff Profit. All Rights Reserved.
</div>
<script src="/js/auth.js"></script>
</body>
</html>