<%- include('partials/header', { title: 'Mapa del Sitio - Buff Profit' }) %>

<div class="container">
    <h1>Mapa del Sitio</h1>
    <ul>
        <li><a href="/">Login & Registro</a></li>
        <li><a href="/matchfinder">Match Finder Inicio</a></li>
        <li><a href="/more">Más Información</a></li>
        <li><a href="/tournament">Torneos</a></li>
    </ul>
</div>
<script src="/js/client.js"></script>
<%- include('partials/footer') %>